@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: black;
    color: white;
}

button{
    cursor: pointer;
}

/* Header */
nav {
    position:absolute;
    top: 0;
    width: 100%;
    padding: 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: flex;
    width: 60%;
    position: relative;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    font-size: 3.5vw;
    width: 20%;
}

.nav-items {
    list-style: none;
    margin: 0 auto;
    font-size: 1.5vw;
}

.nav-items>a{
    text-decoration: none;
    color: white;
}

/* Seccion1 */
.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 70vw;
}

.fondo{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.img-fondo{
    width: 60vw;
}

.otra-mitad{
    width: 100%;
    height: 50vw;
    display: flex;
    justify-content: flex-end;
}
.main-screen{
    background-color: #1e0c06;
    position: relative;
    display: flex;
    width: 90vw;
    height: 42.5vw;
    flex-direction: row;
    align-items: center;
}

h1,.main-screen_text>h2{
    font-size: 5vw;
}

.main-screen_text>h3{
    margin-top: 5vw;
    font-size: 2vw;
}
.main-screen_text>button{
    background-color: #ff6d1c;
    color: white;
    width: 15vw;
    height: 5vw;
    font-size: 2vw;
    margin-top: 2.5vw;
}
.main-screen_text{
    padding:5vw 5vw;

}
.main-screen_text,.main-screen_imgs{
    width: 50%;
    height: 100%;
}
#linea{
    width: 0.1vw;
    height: 40vw;
    padding: 0;
    background-color: #564844;
}

.main-screen_imgs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vw 0;
}

.cafes-pequeños{
    height: 12.5vw;
    border-radius: 15%;
}

.main-screen_imgs>div{
    height: 15vw;
    width: 31.5vw;
    display: flex;
    align-items: center;
}

.img1,.img3{
    justify-content: flex-end;
}

/* Seccion2 */

.cafes{
    padding: 5vw;
    display: flex;
    flex-direction: column;
}

.titulo-cafes{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5vw;
}
.tipos-cafes{
    display: flex;
    justify-content: space-around;
}
.tipos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center;
}

.tipos>h4{
    font-size: 2vw;
    margin-bottom: 1.5vw;
}

.tipos>p{
    font-size: 0.85vw;
}

.img-tipos{
    height: 12.5vw;
    width: 12.5vw;
    margin-bottom: 2.5vw;
}


/* Seccion3 */
.popular-cafes{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titulo-popular{
    text-align: center;
    margin: 2.5vw;
}

.lf,.rf{
    display: flex;
    align-items: center;
    position: absolute;
}
.lf{
    justify-content: center;
    width: 50vw;
}
.rf{
    justify-content: center;
    right: 0;
    width: 55vw;
}
.lf>img,.rf>img{
    width: 10.5vw;
    height: 10.5vw;
    border-radius: 50%;
    border: 0.1vw solid white;
    background-color:white;
    cursor: pointer;
}

.arriba{
    display: flex;
    height: 30vw;
    align-items: center;
}

.carousel{
   width: 27.2vw;
   height: 30vw;
   position: absolute;
   margin-left: 35vw;
   display: flex;
   flex-direction: row;;
   overflow-x: hidden;
   align-items: center;
}

.grande{
    width: 85vw;
    justify-content: center;
    display: flex;
    position: absolute;
    overflow-x: hidden;
    transform: translateX(0%);
    justify-content: space-between;
}

.grande>img{
    width: 26.6vw;
    border-radius: 20%;
}


.puntos{
    width: 100%;
    padding: 1vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.punto{
    width: 1.75vw;
    height: 1.75vw;
    background-color: black;
    border: 0.2vw solid white;
    border-radius: 50%;
    margin: 0.85vw;
    list-style: none;
}

.punto.activo{
    background-color: white;
}

/* Seccion4 */

.destino{
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centrar{
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.centrar>h1{
    text-align: center;
    margin: 5vw 0;
    font-size: 6vw;
}

.cuerpo-destino{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-destino{
    width: 50%;
}

.img-destino-texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 1.8vw;
}

.parrafo-destino{
    margin: 1.8vw 0;
}

.p1{
    margin-top: 0;
}

.p3{
    margin-bottom: 0;
}

.img-destino>img{
    height: 25vw;
}

.boton-reserva{
    margin: 5vw 0 7.5vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.reserva{
    border: none;
    background-color: #1e0c06;
    width: 15vw;
    height: 5vw;
    color: white;
    font-size: 1.3vw;
}

/* Seccion5 */

.aboutus{
    background-color: #1e0c06;
    height: 45vw;
    display: flex;
}

.texto-aboutus{
    width: 50%;
    margin: 5vw;
}

.texto-aboutus>h1{
    margin: 2.5vw 0;
    text-align: center;
}

.texto-aboutus>p{
    font-size: 1.28vw;
    margin: 5vw 0;
}

.imgs-aboutus{
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-right: 6.7vw;
}

.img-aboutus{
    width: 32.4vw;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.abimg{
    position: absolute;
    width: 35.8vw;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    margin: 5vw 0 0;
}

.midimg{
    margin: 10vw 0 0;
}

.botimg{
    margin: 0.5vw 0 0;
    width: 33vw;
}

.gr{
    height: 22.5vw;
    border-radius: 20%;
    border: 0.5vw solid #1e0c06;
    z-index: 2;
}

.pq{
    height: 10vw;
    border-radius: 20%;
}

/* Seccion6 */

.contacto{
    display: flex;
    justify-content: center;
}

.p-contacto{
    font-size: 1.3vw;
    margin: 0 14vw;
}

.form-contacto{
    margin: 7.5vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campoform{
    width: 30vw;
    height: 3.5vw;
    margin: 0.5vw 0;
    padding: 1vw;
    background-color: black;
    border: 0.2vw solid #7f7f7f;
    color: white;
    font-size: 1.2vw;
}


#pregunta{
    resize: none;
    height: 24vw;
}

.campoform::placeholder{
   color: #7f7f7f;
   font-size: 1.2vw;
   position: relative;
}

.botonform{
    background-color: #ff6d1c;
    color: white;
    height: 4vw;
    width: 10.2vw;
    font-size: 1.25vw;
    margin: 1.5vw 0;
    cursor: pointer;
}

/*Footer*/

footer{
    background-color: #1e0c06;
    height: 8vw;
    display: flex;
    flex-direction: column;
    padding: 0 3.4vw;
}

.footerinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.2vw 0 0.8vw;
}

.footerinf{
    display: flex;
    align-items: center;
}
.footerinf>span{
    font-size: 1.105vw;
}

.copyright{
    font-size: 1.105vw;
    align-items: center;
    bottom: 0;
}

.imgfooter{
    height: 3.4vw;
    width: 3.4vw;
}


/* Dispositivos Moviles */
@media only screen and (max-width: 768px) {
/* Header */
.nav-item {
    width: 70%;
}

.logo{
    font-size: 5vw;
    width: 27%;
}

.nav-items {
    font-size: 3vw;
}

/* Seccion1 */
.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vw;
}

.fondo{
    display: none;
}

.otra-mitad{
    width: 100%;
    height: 105vw;
    align-items: flex-end;
}

.main-screen{
    width: 100%;
    height: 88vw;
    align-items: center;
    justify-content: center;
}

h1,.main-screen_text>h2{
    font-size: 10vw;
}

.main-screen_text>h3{
    margin-top: 10vw;
    font-size: 4vw;
}


.main-screen_text>button{
    width: 30vw;
    height: 10vw;
    font-size: 4vw;
    margin-top: 5vw;
}

.main-screen_text,.main-screen_imgs{
    width: 80%;
    height: 90%;
}

#linea{
    display: none;
}

.main-screen_imgs{
    display: none
}

/* Seccion2 */
.cafes{
    padding: 5vw;
    display: flex;
    flex-direction: column;
}

.titulo-cafes{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5vw;
}
.tipos-cafes{
    flex-direction: column;
    align-items: center;
}
.tipos{
    width: 80%;
}

.tipos>h4{
    font-size: 4vw;
    margin-bottom: 3vw;
}

.tipos>p{
    font-size: 2.5vw;
}

.img-tipos{
    height: 25vw;
    width: 25vw;
    margin: 5vw 0;
}

/* Seccion3 */
.popular-cafes{
    height: 120vw;
    justify-content: start;
    flex-direction: column;
}
.lf,.rf{
    align-items: flex-end;
    position: relative;
    width: 50%;
    height: 50%;
    padding: 0 5vw;
    align-self: flex-end;
}
.lf{
    justify-content: flex-end;
}
.rf{
    justify-content: flex-start;
}
.lf>img,.rf>img{
    width: 21vw;
    height: 21vw;
}
.arriba{
    display: flex;
    height: 85vw;
    align-items: flex-start;
}
.carousel{
   width: 60vw;
   height: 60vw;
   margin-left: 21vw;
}
.grande{
    width: 185vw;
}
.grande>img{
    width: 56.2vw;
    margin: 0 2vw 0 0;
}
.punto{
    width: 3vw;
    height: 3vw;
    margin: 2vw;
}
/* Seccion4 */
.cuerpo-destino{
    flex-direction: column;
    align-items: center;
    padding: 3vw 0;
}
.img-destino{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-destino-texto{
    font-size: 2.5vw;
}
.parrafo-destino{
    margin: 3vw 0;
}
.p1{
    margin-top: 3vw;
}
.img-destino>img{
    height: 40vw;
}
.reserva{
    width: 30vw;
    height: 10vw;
    font-size: 3vw;
}










/* Seccion5 */

.aboutus{
    background-color: #1e0c06;
    display: flex;
    height: 60vw;
    justify-content: center;

}

.texto-aboutus{
    width: 85%;
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-aboutus>h1{
    margin: 2.5vw 0;
    text-align: center;

}

.texto-aboutus>p{
    font-size: 2.5vw;
    margin: 5vw 0;
}

.imgs-aboutus{
    display: none;
}

/* Seccion6 */

.contacto{
    display: flex;
    justify-content: center;
}

.p-contacto{
    font-size: 1.3vw;
    margin: 0 14vw;
}

.form-contacto{
    margin: 7.5vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campoform{
    width: 30vw;
    height: 3.5vw;
    margin: 0.5vw 0;
    padding: 1vw;
    background-color: black;
    border: 0.2vw solid #7f7f7f;
    color: white;
    font-size: 1.2vw;
}


#pregunta{
    resize: none;
    height: 24vw;
}

.campoform::placeholder{
   color: #7f7f7f;
   font-size: 1.2vw;
   position: relative;
}

.botonform{
    background-color: #ff6d1c;
    color: white;
    height: 4vw;
    width: 10.2vw;
    font-size: 1.25vw;
    margin: 1.5vw 0;
    cursor: pointer;
}
}